LANGCHAIN_TRACING_V2=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
GOOGLE_API_KEY=
QDRANT_API_KEY=
QDRANT_URL=
QDRANT_COLLECTION_NAME=
QDRANT_SPARSE_MODEL=
RETRIEVAL_MODE=
BASE_RAG_DIR=
DATA_DIR=
OUTPUT_MD_DIR=
OUTPUT_IMAGES_DIR=
OUTPUT_DESC_DIR=
OUTPUT_TABLES_DIR=
ALLOW_RERANKING=
RERANKER_MODEL=
LOGS_DIR=
AGENT_FILE_BASE_DIR=
MAX_RETRIES_PER_THEME=
MAX_PARALLEL_RESEARCHERS=
